alias c=clear
alias o="open -a Finder '$(if [[ -z "$1" ]]; then echo '.'; else echo $1; fi)'"
alias subl="/Applications/Sublime\ Text.app/Contents/SharedSupport/bin/subl"

alias gp="git push -u origin $(git_current_branch)"
alias gpl="git pull"
alias gac="git add --all :/ && git commit"
alias gacp="git add --all :/ && git commit && git push"
alias grao="git remote add origin"
alias gs="git status"
alias gl='git log --graph --pretty=format:"%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %Cgreen<%an>" --abbrev-commit'
alias gco='git checkout'
alias devr="dev down; dev up; dev server"
alias rps='cd ~/Desktop/repos'
