alias c=clear
alias subl="/Applications/Sublime\ Text.app/Contents/SharedSupport/bin/subl"

alias gp="git push -u origin $(git rev-parse --abbrev-ref HEAD)"
alias gpl="git pull"
alias gac="git add --all :/ && git commit"
alias gacp="git add --all :/ && git commit && git push"
alias grao="git remote add origin"
alias gs="git status"
alias gl='git log --graph --pretty=format:"%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>" --abbrev-commit -14 | emojify'
alias gco='git checkout'
alias devr="dev down; dev up; dev server"
alias rps='cd ~/Desktop/repos'
