#!/usr/bin/env bash

function ub() {
  branch="$(git symbolic-ref --short -q HEAD)"
  base_branch='master'
  if [ "$1" != "" ]; then
    base_branch="$1"
  fi
  git checkout $base_branch
  git pull
  git checkout $branch
  git merge $base_branch
}

function gccd(){
  if [[ -z "$2" ]]; then
    folder_name="$(basename $1 | sed -e 's/\.git//g')"
  else
    folder_name="$2"
  fi
  git clone $1 && cd $folder_name
}
