[core]
	commitGraph = true
	excludesfile = ~/.gitignore
[diff]
	algorithm = patience
[gc]
	writeCommitGraph = true
[pull]
	rebase = false
	ff = only
[user]
	name = Koen Vendrik
	email = k.vendrik@gmail.com
